In [1]:
import numpy as np
import pandas as pd
import datetime as dt

In [5]:
ins = np.ones((19,2), dtype=str)

In [7]:
hourly = pd.DataFrame(ins, columns=['half1', 'half2'])

In [9]:
hourly.to_csv('planner.csv')

In [15]:
dt.datetime.now().weekday()

1

In [22]:
sleep = pd.read_csv('daily_tracks.csv').drop('Unnamed: 0', axis = 1)

In [23]:
sleep

        date in_bed  sleep   wake out_bed  efficiency
0   21/02/21  22:45  23:20  08:13   08:49      0.8825
1   21/02/21  22:00  23:00  07:00   08:00      0.8000
2   22/02/21  22:00  23:00  07:00   08:00      0.8000
3   22/02/21  00:52  01:30  07:43   08:03      0.9690
4   22/02/21  00:52  01:30  07:43   08:03      0.8654
5   22/02/21  21:30  01:30  07:30   08:00      0.5714
6   22/02/21  19:30  21:15  06:23   08:12     -1.1706
7   22/02/21  19:30  21:15  06:23   08:12      0.7192
8   22/02/21  22:00  23:00  07:00   08:00      0.8000
9   22/02/21  22:00  23:00  08:00   09:00      0.8182
10  22/02/21  00:15  06:30  06:30   08:25      0.0000
11  22/02/21  02:00  03:00  08:00   09:00      0.7143
12  22/02/21  22:00  23:00  07:00   08:00      0.8000
13  22/02/21  22:56  00:45  07:25   08:30      0.6969
14  23/02/21  00:15  06:25  06:25   07:40      0.0000
15  23/02/21  00:00  12:30  09:25   16:35      1.2613
16  23/02/21  00:24  00:40  07:51   08:02      0.9410
17  28/02/21  22:00  23:00  07:00   08:00      0.8000
18  28/02/21  22:00  23:00  07:00   08:00      0.8000
19  28/02/21  22:00  23:00  07:00   08:00      0.8000
20  28/02/21  22:00  23:00  07:00   08:00      0.8000
21  28/02/21  22:00  23:00  07:00   08:00      0.8000
22  28/02/21  23:00  00:12  06:45   08:11      0.7132
23  28/02/21  00:00  00:30  09:00   09:30      0.8947
24  28/02/21  22:15  22:30  07:00   08:00      0.8718
25  28/02/21  22:00  23:00  07:00   08:00      0.8000
26  28/02/21  22:00  23:30  00:54   01:12      0.4375
27  01/03/21  22:00  23:00  07:00   08:00      0.8000
28  01/03/21  00:13  00:40  07:48   08:17      0.8843
29  02/03/21  23:00  23:15  06:20   06:58      0.8891

In [ ]:
dt.datetime.now()

In [301]:
[f'f{i}' for i in range(5)]

['f0', 'f1', 'f2', 'f3', 'f4']

In [265]:
def timein_datetimeout(type): 
    
    time_str = str(input(f'what time did you {type}? (%H:%M): '))
    if ':' in time_str:
        time_datetime = dt.datetime.strptime(time_str, '%H:%M').time()
    else:
        time_datetime = dt.datetime.strptime(time_str, '%H').time()
        
    return time_datetime

def sleep(pdDataFrame):
    
    header = np.array(['date', 'in_bed', 'sleep', 'wake', 'out_bed','efficiency'])
    day = dt.datetime.now().date()
    next_day = day + datetime.timedelta(days=1)
    in_bed = timein_datetimeout('get into bed')
    sleep = timein_datetimeout('sleep')
    wake = timein_datetimeout('wake')
    out_bed = timein_datetimeout('get out of bed')
    
    time_bed = dt.datetime.combine(next_day, out_bed) - dt.datetime.combine(day, in_bed)
    time_asleep = dt.datetime.combine(next_day, wake) - dt.datetime.combine(day,sleep)
    efficiency = np.round(time_asleep/time_bed, 4)
    
    # headers = ['date', 'in_bed', 'sleep', 'wake', 'out_bed','efficiency']
    to_add = pd.DataFrame([[day.strftime("%d/%m/%y"), 
                       in_bed.strftime('%H:%M'), 
                       sleep.strftime('%H:%M'), 
                       wake.strftime('%H:%M'), 
                       out_bed.strftime('%H:%M'), 
                       efficiency]], columns= header)
    pdDataFrame = pdDataFrame.append(to_add)
    
    return pdDataFrame

In [3]:
#ds = pd.DataFrame(columns = header)
ds = pd.read_csv(r'C:\Users\alec\Desktop\tracker\daily_tracks.csv').drop('Unnamed: 0',axis = 1)
ds.head()

       date in_bed  sleep   wake out_bed  efficiency
0  21/02/21  22:45  23:20  08:13   08:49      0.8825
1  21/02/21  22:00  23:00  07:00   08:00      0.8000
2  22/02/21  22:00  23:00  07:00   08:00      0.8000
3  22/02/21  00:52  01:30  07:43   08:03      0.9690
4  22/02/21  00:52  01:30  07:43   08:03      0.8654

In [266]:
ds = sleep(ds)

what time did you get into bed? (%H:%M): 22
what time did you sleep? (%H:%M): 23
what time did you wake? (%H:%M): 7
what time did you get out of bed? (%H:%M): 8
       date in_bed  sleep   wake out_bed  efficiency
0  21/02/21  22:45  23:20  08:13   08:49      0.8825
0  21/02/21  22:00  23:00  07:00   08:00      0.8000

In [6]:
track_ds = pd.DataFrame(columns=['header','content'])

In [7]:
track_ds

Empty DataFrame
Columns: [header, content]
Index: []

In [34]:
header, content = track_ds.iloc[0]

In [15]:
isn = np.ones((10,2), dtype=str)
tryds = pd.DataFrame(isn, columns=['header','content'])

In [16]:
track_ds.append(tryds.iloc[0])

  header content
0      1       1

In [17]:
track_ds

Empty DataFrame
Columns: [header, content]
Index: []

In [41]:
isn

array([['1', '1'],
       ['1', '1'],
       ['1', '1'],
       ['1', '1'],
       ['1', '1'],
       ['1', '1'],
       ['1', '1'],
       ['1', '1'],
       ['1', '1'],
       ['1', '1']], dtype='<U1')

In [32]:
track_ds.iloc[0] = ['hel','oo']

In [33]:
track_ds.iloc[0]

header     hel
content     oo
Name: 0, dtype: object

In [8]:
track_ds.to_csv('./done_tasks.csv')

In [22]:
ds.to_csv('./daily_tracks.csv')

In [244]:
import pathlib
pathlib.Path().absolute()

WindowsPath('C:/Users/alec/Desktop')

In [14]:
str(datetime.datetime.now().time())

'11:03:06.881277'

In [290]:
datetime.datetime.now().time() < datetime.time(12,59)

True

In [10]:
h = pd.DataFrame(columns = ['hey', 'now'])

In [11]:
h.append(pd.DataFrame[1,0])

   hey  now    0
0  NaN  NaN  1.0
1  NaN  NaN  0.0